<!DOCTYPE html>
<head>
    
<title>Admin</title>
   
<%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>
    <div class="container">
        <div class="row">
            <h1>Score Administration Page</h1>
            <br>
            <div id="myList"></div>
        </div>
    </div>


   <script src ='/public/VerticalMario/admin.js'></script>
</body>
