<!DOCTYPE html>
<head>
    
<title>Admin</title>
<% if(mobile){ %>
    <meta name="viewport" content="user-scalable=no,target-densitydpi=device-dpi" />
  <% } %>
<%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>
    <%- include('./partials/flashmessages'); %>
    <div class="container">
        <div class="row">
            <br>
            <h1 style="text-align:center;"><b>Score Administration Page</b></h1>
            <br>
            <hr>
           
            <div id="myList"></div>
        </div>
    </div>
   <script src ='/public/js/admin.js'></script>
</body>
