<html>
<head>
  <%- include('./partials/head'); %>
  <title>Vertical Mario</title>
  <!-- <meta name = "viewport" 
  content = "user-scalable = no"> -->
  <meta name="viewport" content="maximum-scale=1.0, user-scalable=0">
 
  <script
  src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"></script>
  <script src = "public/VerticalMario/js/phaser.min.js"></script>
  <script src = "public/VerticalMario/js/bootState.js"></script>
  <script src = "public/VerticalMario/js/preloadState.js"></script>
  <script src = "public/VerticalMario/js/MenuState.js"></script>
  <script src = "public/VerticalMario/js/ScoreState.js"></script>
  <script src = "public/VerticalMario/js/GameState.js"></script>
  <script src = "public/VerticalMario/js/InputScore.js"></script>
  <script src = "public/VerticalMario/js/prefabs/Mario.js"></script>
  <script src = "public/VerticalMario/js/prefabs/InitPlatforms.js"></script>
  <script src = "public/VerticalMario/js/prefabs/platforms.js"></script>
  <script src = "public/VerticalMario/js/prefabs/Goomba.js"></script>
  <script src = "public/VerticalMario/js/prefabs/Coin.js"></script>
  <script src = "public/VerticalMario/js/prefabs/Spiny.js"></script>
  <script src = "public/VerticalMario/js/prefabs/Koopa.js"></script>
  
  <style>
    canvas {
      display : block;   
      margin : auto;
    
    }

  </style>
</head>
<body style="width:100%">
  <%- include('./partials/header'); %>
  <%- include('./partials/flashmessages'); %>
  <div class="container">
    <div class="row">
      <br>
      <div id="verticalMario" style="margin-top:20px;"></div>
      <script>
        var VerticalMario = VerticalMario || {};
        VerticalMario.game = new Phaser.Game(700, 500, Phaser.AUTO,'verticalMario');
        VerticalMario.game.state.add('BootState', VerticalMario.BootState);
        VerticalMario.game.state.add('PreloadState', VerticalMario.PreloadState);
        VerticalMario.game.state.add('MenuState', VerticalMario.MenuState);
        VerticalMario.game.state.add('GameState', VerticalMario.GameState);
        VerticalMario.game.state.add('InputScoreState', VerticalMario.InputScoreState);
        VerticalMario.game.state.add('ScoreState', VerticalMario.ScoreState);
        VerticalMario.game.state.start('BootState');

        var pause = false, startGame = false, movingRight = false, movingLeft = false;
	      var playerJump = false, alreadDead = false; var globalScore = 0; var mobileGame = false;
      </script>
    </div>

    <% if(mobile){ %>
      <%- include('./partials/controller'); %>
      <script>
        mobileGame = true;
      </script>
      <style>
        html{-webkit-user-select: none; /* Safari 3.1+ */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none; }/* Standard syntax */
        html, body {
          overscroll-behavior-y: none;
        }

        html, body {
          position: fixed;
          overflow: hidden;
        }
      </style>
   <% } %>

  </div>
  <script src = "public/VerticalMario/js/VerticalMarioController.js"></script>
</body>
</html>
